<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
   <!--Caminho do Banco de Dados PostgreSQL-->
    <bean name="dataSource"
           class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="org.postgresql.Driver"/>
            <property name="url" value="jdbc:postgresql://localhost/bancospring"/>
            <property name="username" value="postgres"/>
            <property name="password" value="1234"/>
     </bean>
      <!--Caminho do Springframework-->
     <bean id="jdbcTemplate"
           class="org.springframework.jdbc.core.JdbcTemplate">
           <property name="dataSource" ref="dataSource"/>
     </bean>
     <!--Caminho da Classe ClienteJdbc-->
     <bean name="clienteDaoJdbc" class="br.com.projeto.jdbcsupport.ClienteJdbc">
          <property name="jdbcTemplate" ref ="jdbcTemplate"/>
     </bean>


</beans>
